.Header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--terceira-cor-padrao);
    margin: 0 0 2rem 0;
    color: white;
    font-size: 24px;
    font-family: "proximanova-light", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 800px) {
    .Header {
        height: 4rem;
        font-size: 20px;
    }
}
